.title-editor{
    margin-top: 45px;
    margin-bottom: 70px;
}
.title-input{
    width: 30vw;
    background-color: transparent;
    border: none;
    border-bottom: 5px solid var(--grayblack);
    margin-top: 10px;
    font-size: 25px;
    text-transform: capitalize;
    width: 100%;
}

#color-picker{
    margin-top: 65px;
    gap: 65px;
}

.color-circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    cursor: pointer;
    transition: all 0.3s;
}
.color-circle:hover{
    border: 3px solid var(--grayblack);
}
.color-options{
    display: grid;
    grid-template-columns: repeat(4,60px);
    grid-auto-rows: 47px;
}

.preview-text{
    transition: all 0.3s;
    border-radius: 5px;
}

.text-color-selected,.bg-color-selected{
    border: 3px solid var(--grayblack);
}

#draft{
    font-size: 30px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #000000;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin: auto;
}

#draft:checked{
    background-color: rgb(80, 199, 54);
}

@media (max-width: 500px){
    #color-picker{
        flex-direction: column;
    }
    .edit-container{
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
    .post-options{
        margin: auto;
    }
}