.header{
    transition: all 0.1s;
    border-bottom: 5px solid var(--darkgray);
    padding: 12px 7px 10.5px 0px;
    height: 55px;
    width: 100%;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

.head-left{
    gap: 50px;
    font-size: 25px;
    font-family: 'inter';
    color: var(--accent);
}

.selected{
    color: var(--grayblackheader) !important; /* !important overrides default hover effect */
    border-bottom: 2px solid var(--grayblackheader) !important;
}

.searchbox{
    width: 350px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 4px solid var(--accent);
    color: var(--darkgray);
    padding: 0 0 5px 0;
    font-size: 1.2em;
}

.header-link{
    border-bottom: 2px solid transparent;
}

.header-link:hover{
    transition: all 0.3s ease-out;
    color: var(--lightgray);
    border-bottom: 2px solid var(--darkgray);
}

@media (max-width: 1055px){
    .header{
        visibility: hidden;
        display: none !important;
    }
}