.header{
    transition: all 0.1s;
    border-bottom: 5px solid var(--darkgray);
    height: 55px;
    width: calc(100vw - 100px);
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-left: 50px;
}

.head-left{
    gap: 50px;
    font-size: 25px;
    font-family: 'inter';
    color: var(--accent);
}
.head-right{
    gap: 10px;
}

.selected{
    color: var(--grayblackheader) !important; /* !important overrides default hover effect */
    border-bottom: 2px solid var(--grayblackheader) !important;
}

.searchbox{
    width: 350px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 4px solid var(--accent);
    color: var(--darkgray);
    padding: 0 0 5px 0;
    font-size: 1.2em;
}
#search{
    color: var(--darkgray);
    font-size: 30px;
}

.header-link{
    border-bottom: 2px solid transparent;
}

.header-link:hover{
    transition: all 0.3s ease-out;
    color: var(--lightgray);
    border-bottom: 2px solid var(--darkgray);
}

@media (max-width: 1055px){
    .header{
        visibility: hidden;
        display: none !important;
    }
}


.tooltiptext {
    visibility: hidden;
    width: 120px;
    height: max-content;
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    bottom: -40px;
    z-index: 1;
    gap: 7px;
  }

#account:hover .tooltiptext {
    visibility: visible;
  }