.home{
    margin-top: 61px;
}

.posts-container{
    display: grid;
    gap: 50px;
    height: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
}


.content-title{
    font-size: 30px;
    font-family: 'inter', sans-serif;
    margin-left: 7px;
    margin-bottom: 17px;
}


.right-container{
    position: fixed;
    right: 50px;
    top: 0;
    padding-top: min(250px,33%);
    width: 200px;
    height: 70vh;
    justify-content: space-between;
}

@media (max-width: 1055px){
    .right-container{
        visibility: hidden;
    }
}
.fact-container{
    gap: 5px;
}
.fact-title{
    font-size: 25px;
    color: var(--grayblack);
}
.fact-text{
    font-size: 20px;
    color: var(--lightgray);
}



.stat-container{
    font-size: 20px;
    color: var(--grayblack);
    position: absolute;
    bottom: 50px;
    text-align: right;
}
.stats{
    justify-content: flex-end;
    gap: 10px;
}
.stat-value{
    color: var(--lightgray);
}

/* --Post styling--*/

.post{
    padding: 25px;
    color: whitesmoke;
    background-color: var(--grayblack);
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    height: 290px;
    width: 290px;
}

/* .post:hover{
    scale: 1.05;
    box-shadow: 0 0 20px rgb(76, 76, 76);
    background-color: #ffffff;
    color: black;
} */

@media (max-width: 1430px){
    .post{
        width: 250px;
        height: 250px;

    }
}
@media (max-width: 1366px){
    .post{
        width: 220px;
        height: 220px;

    }
}
@media (max-width: 1200px){
    .post{
        width: 300px;
        height: 300px;
    }
    .posts-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 850px) {
    .posts-container{
        grid-template-columns: 1fr;
    }
    .home{
        justify-content: center;
    }
}

.post-title{
    font-size: 25px;
    margin-bottom: 5px;
}
.post-author{
    font-size: 14px;
    padding-bottom: 13px;
    border-bottom: 3px solid var(--accent);
    margin-bottom: 30px;
}
.post-content{      
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.post-bottom-container{
    color: var(--accent);
}

.post-stats{
    gap: 18px;
}