

.main-post{
    margin: 60px 100px 0 100px;
    background-color: whitesmoke;
    padding: 50px 50px 20px 50px;
    border-radius: 40px 40px 0px 0px;
    padding-bottom: 100px;
    position: relative;
}

#post-bg{
    width: 100vw;
    position: absolute;
    z-index: -1;
    left: -150px;
    top: -140px;
    transition: all 1s;
    min-height: calc(100vh + 100px);
}
#edit-icon{
    position: absolute;
    font-size: 60px;
    top: 20px;
    right: 20px;
}

.main-post-title{
    font-size: 40px;
    font-weight: 500;
    max-width: 1077px;
    margin-top: 60px;
}


.post-info-container{
    justify-content: space-between;
    position: relative;
}

.post-info-container{
    width: 900px;
    margin-bottom: 45px;
    margin-top: 5px;
}
.main-post-author{
    font-size: 25px;
    font-weight: 500;
}
.sep-line{
    position: absolute;
    bottom: -40px;
    height: 7px;
    background-color: var(--grayblack);
    padding: auto;
    width: 900px;
    border-radius: 5px;
}

.date{
    margin-bottom: 35px;
}

.post-errors-container{
    width: 100%;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
    list-style-type: disc;
}
.post-error{
    color: #da3232;
    font-size: 25px;
    margin: auto;
    transition: all 1s;
}

#publish-button{
    width: max-content;
    margin-top: 30px;
    font-size: 25px;
}

#publish-button:hover{
    transition: all 0.3s;
    background-color: gray;
    color: var(--accent);
}