
.sidebar{
    width: 181px;
    height: calc(100vh - 55px);
    position: fixed;
    left: 0;
    top: 55px;
    background-color: #eaeaea91 ;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 11;
}