
.sidebar{
    width: 140px !important;
    height: calc(100vh - 55px);
    position: fixed;
    left: 0;
    top: 55px;
    background-color: #eaeaea91 ;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 11;
    transition: all 1.5s;
    position: fixed;
    padding: 0 24px 0 24px;
}

.sidebar-top-container{
    margin-top: 40%;
    gap: 30px;
}

.sidebar-bottom-container{
    position: absolute;
    bottom: 35px;
}

.sidebar-stat-container{
    margin-top: 35px;
}

.sidebar-link{
    font-size: 25px;
    color: var(--accent);
}

.selected-sb{
    color: black;
}