@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.logo-bar{
    font-family: 'inter', sans-serif;
    font-size: 30px;
    width: 100vw;
    height: 55px;
    background-color: var(--grayblack);
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 5;
}

.content-container{
    padding: 20px 50px 0 50px;
    display: flex;
    height: 150vh;

}

.menu-logo{
    position: absolute;
    left: 50px;
    z-index: 6;
    color: var(--accent);
    font-size: 16px;
    display: none;
}
@media (max-width: 1055px) {
    .menu-logo{
        display: block;
    }
}