:root{
  --darkgray: rgb(138, 138, 138);
  --accent: #BBC7CE;
  --grayblack: #111111;
  --grayblackheader: rgb(17, 17, 17);
  --error-red: #E42C2C;
}

body{
  background-color: whitesmoke;
  width: 100vw;
  overflow-x: hidden;
  padding-bottom: 100px;
}



.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.horizontal{
  justify-content: center;
}

.vertical{
  align-items: center;
}

.between{
  justify-content: space-between;
}

.cursor{
  cursor: pointer;
}

.defont{
  font-family: 'inter', sans-serif;

}

.small-heading{
  font-size: 25px;
  font-family: 'inter', sans-serif;
  color: var(--grayblack);
}
.content-title{
  margin-top: 60px;
}

input:focus{
  outline: none !important;
}

label{
  font-family: 'inter',sans-serif;
}