:root{
  --darkgray: rgb(138, 138, 138);
  --accent: #BBC7CE;
  --grayblack: #111111;
  --grayblackheader: rgb(17, 17, 17);
  --error-red: #E42C2C;
}

body{
  background-color: whitesmoke;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'inter', sans-serif;
  transition: all 0.8s;
}



.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.horizontal{
  justify-content: center;
}

.vertical{
  align-items: center;
}

.between{
  justify-content: space-between;
}

.cursor{
  cursor: pointer;
}

.defont{
  font-family: 'inter', sans-serif;

}

.small-heading{
  font-size: 25px;
  font-family: 'inter', sans-serif;
  color: var(--grayblack);
}
.smaller-heading{
  font-size: 20px;
  font-family: 'inter', sans-serif;
  color: var(--grayblack);
}
.content-title{
  margin-top: 60px;
  z-index: 2;
  position: relative;
}

.button{
  font-size: 18px;
  padding: 13px;
  border: none;
  border-radius: 7px;
  background-color: black;
  color: white;
}

input:focus{
  outline: none !important;
}



label{
  font-family: 'inter',sans-serif;
}

.error{
  color: var(--error-red);
  font-family: 'inter', sans-serif;
  transition: all 1s;
  margin-bottom: 10px;
}

h2{
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0 10px 0;
}

ul{
  list-style-type: square;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}

h3{
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
}
h4{
  font-size: 35px;
  font-weight: 600;
  margin: 17px 0 10px 0;
}