:root{
  --darkgray: rgb(138, 138, 138);
  --accent: #BBC7CE;
  --grayblack: rgb(17, 17, 17);
  --grayblackheader: rgb(17, 17, 17);
}

body{
  background-color: whitesmoke;
  width: 100vw;
  overflow-x: hidden;
}



.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.horizontal{
  justify-content: center;
}

.vertical{
  align-items: center;
}

.between{
  justify-content: space-between;
}

.cursor{
  cursor: pointer;
}

.defont{
  font-family: 'inter', sans-serif;

}

